* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-container {
    width: 180px;
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 6px;
    cursor: pointer;
}

.product-container:hover {
    background-color: rgb(231, 231, 241);
}

.product-container > img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-block: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: white;
}

.cart {
    display: flex;
    align-items: center;
    gap: 6px;
}